.td {
  padding: 5px 10px;
}

.number {
  text-align: right;
}

.tr:nth-child(odd) {
  background: rgba(0, 0, 0, .1);
}

.select {
  border-radius: 3px;
  background: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  height: 30px;
  white-space: nowrap;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}