.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.color {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.selected:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 2px solid white;
  z-index: 1;
}