.parent,
.child {
  background: rgba(255, 255, 255, .1);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 7px;
  cursor: move;

  &:hover {
    background: rgba(255, 255, 255, .15);
  }

  i {
    margin-right: 5px;
    font-size: 15px;
  }
}

.child {
  margin-left: 20px;
}

.drop {
  border: 1px dashed rgba(255, 255, 255, .5);
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.hovering {
  background: #6C9FE0;
}