.bar {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo {
  height: 40px;
  margin: 5px 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.label {
  padding: 5px;
  font-weight: 300;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 !important;
  display: flex;
}

.label:hover {
  background: rgba(0, 0, 0, 0.2);
}

.checkbox {
  margin-right: 3px !important;
}

.title {
  font-size: 1em;
  font-weight: 500;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 50px;
  margin: 0;
  padding-left: 10px;
}

.check {
  font-size: 16px;
  line-height: 20px !important;
  margin-right: 3px;
}

.active {
  color: #009688;
}

.name {
  line-height: 20px;
}