canvas.graph {
  &.selecting {
    cursor: crosshair;
  }

  &.moving {
    cursor: move;
  }
}

.graphComponent,
.graphContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stats {
  position: absolute;
  right: 10px;
  bottom: 0;
  text-align: right;
  font-size: .9em;
}