.componentContainer {
  height: 100%;
}

.chartContainer {
  position: relative;
}

.sliderContainer {
  position: absolute;
  left: 34px;
  right: 0;
  top: 0;
  bottom: 29px;
}

.grouping {
  position: absolute;
  top: 10px;
  right: 150px;
  z-index: 1;
  padding-top: 4px;
}

.groupingLabel {
  margin-right: 5px;
}

.selectGrouping {
  color: black;
}