.componentContainer {
  height: 100%;
}

.chartContainer {
  position: relative;
}

.sliderContainer {
  position: absolute;
  left: 34px;
  right: 0;
  top: 0;
  bottom: 29px;
}

.grouping {
  position: absolute;
  top: 10px;
  right: 150px;
  z-index: 1;
  padding-top: 4px;
}

.groupingLabel {
  margin-right: 5px;
}

.selectGrouping {
  color: black;
}

.dateFieldGroup {
  display: flex;
}

.dateFieldTitle {
  font-size: 1em;
  font-weight: 500;
  margin: 4px 10px 0 0;
}

.selectFields {
  font-size: 1em;
  background: #6C9FE0;
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
  margin: 0 0 10px;
  cursor: pointer;

  i {
    font-size: 1.2em;
    margin-left: 5px;
  }
}