.tr:hover {
  background: rgba(255,255,255,.07);
}

.td {
  padding: 0 5px 1px 5px;
}

.icon {
  margin-right: 20px;
  font-size: 14px !important;
  letter-spacing: -1px;
  font-family: "Ionicons", Roboto, Helvetica, arial;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255,255,255,0.2);
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.buttonTd {
  padding: 0;
  width: 16px;
}

.delete,
.add,
.selectNodesButton {
  font-size: 18px;
  cursor: pointer;
}

.addDisabled {
  opacity: .3;
}

.draggable {
  cursor: move;
}

.draggable * {
  cursor: move;
}

.dropable {
  border: 1px dashed rgba(255, 255, 255, .3);
  padding: 5px;
  margin: 5px 0 10px;
}

.hovering {
  background: rgba(255, 255, 255, .3);
}

.mainExpanded .td,
.mainExpanded .buttonTd {
  background: #435266;
  paddin-top: 5px;
}

.mainExpanded .td:first-child {
  border-top-left-radius: 3px;
}

.mainExpanded .buttonTd:last-child {
  border-top-right-radius: 3px;
}

.extraExpanded .td {
  background: #435266;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px 5px;
}

.label {
  font-size: 1em;
  margin: 10px 0 0 0;
}

.value {
  margin: 0;
}