.rule {
  padding: 0 !important;
  border-radius: 3px;
  margin: 0 0 5px;
  background: #3A4555 !important;
  list-style: none;
}

.header {
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
}

.buttons {
  margin-left: auto;
  display: flex;
}

.toggle {
  font-size: 18px;
  line-height: 28px;
  margin-right: 10px;
}

.delete {
  font-size: 18px;
  cursor: pointer;
}

.config {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.label {
  font-weight: 300;
  font-size: inherit;
  margin: 0;
}

.setting {
  margin-bottom: 10px;
}

.disabled {
  opacity: .3;
}

.setting:last-child {
  margin-bottom: 0;
}

.radioLabel {
  margin: 0 10px 0 0;
  font-weight: 300;
  font-size: inherit;
}

.radio {
  margin-right: 5px !important;
}