.list {
  margin-bottom: 40px;
}

.create {
  border-radius: 3px;
  background: #6C9FE0;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  color: white;
  outline: none;

  &:hover {
    color: white;
  }
}

.enrichersTitle {
  font-weight: 300;
  font-size: 18px;
}