@import '../../../../scss/mixins/primaryButton';

.container {
  margin-top: 20px;
}

.filters {
  display: flex;
}

.filter {
  margin-right: 10px;
  position: relative;
}

.label {
  font-weight: 300;
  margin-right: 5px;
}

.select {
  color: black;
  padding: 3px 10px;
  height: 30px;
  font-size: 1em;
}

.searchInput {
  border: none;
  padding: 0 25px 0 7px;
  height: 30px;//
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  width: 200px;
  background: #425166;
  border-radius: 3px;
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  outline: none;

  &::placeholder {
    color: white;
  }
}

.searchIcon {
  position: absolute;
  top: 6px;
  font-size: 18px;
  right: 7px;
}

.noNodes {
  margin-top: 20px;
}

.button {
  @include primaryButton();
}