.container {
  margin-top: 20px;
}

.filters {
  display: flex;
}

.filter {
  margin-right: 10px;
}

.label {
  font-weight: 300;
  margin-right: 5px;
}

.select {
  color: black;
  padding: 3px 10px;
}