.connector {
  background: #435266 !important;
  border-radius: 3px;
  padding: 10px 10px 5px;
  margin-bottom: 10px;
  display: flex;
}

.icon,
.nodes {
  height: 28px;
  margin: 0 5px 5px 0;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 28px;
  text-align: center;
}

.icon {
  font-size: 16px;
  width: 28px;
  cursor: pointer;
  font-family: "Ionicons", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nodes {
  border-radius: 3px;
  background: #3A4555;
  font-size: 12px;
  border: none;
  outline: none;

  i {
    margin-left: 3px;
    font-size: 14px;
  }
}

.main {
  flex-grow: 1;
  margin-left: 5px;
}

.dropZone {
  border: 2px dashed #374556;
  color: rgba(255,255,255,.6);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.hovering {
  background: #6C9FE0;
  border-color: white;
}

.fields {
  background: none !important;
  margin: 0;
  padding: 0;
}

.strategy {
  margin: 0 0 5px 5px;
  position: relative;

  label {
    font-weight: 300;
    margin-right: 10px;
  }

  input {
    margin-right: 3px !important;
  }
}

.iconSelector {
  position: absolute;
  margin-top: 28px;
  width: 100%;
  left: 0;
  padding: 1px;
  background: #5C6777;
}

.magicWand {
  background: #3A4555;
}

.delete {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}