@import '../../../scss/variables';


.queriesContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  min-height: 48px;
}

.formWrapper {
  width: 300px;
  position: relative;
}

.form {
  min-height: 48px;
  background: #455B73;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 10;
  padding: 0 5px;
}

.formCollapsed {
  background: transparent;
  box-shadow: none;
}

.queryInputWrapper {
  padding: 10px;
}

.queryInput {
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 15px;
  color: #fff;
  margin: 6px 0;
  padding: 8px 30px 8px 10px;
  border-radius: 3px;
  width: 100%;
  background: #425166;
  box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.3);
  resize: none;

  &::placeholder {
    color: #fff;
  }
}

.searchIcon {
  position: absolute;
  right: 20px;
  font-size: 18px;
  top: 12px;
}

.noDatasources {
  background: #a72e25;
}

.noDatasourcesMessage {
  background: #a72e25;
  padding: 5px;
  border-radius: 3px;
  bottom: -20px;
  position: absolute;
  left: 10px;
}

.datesTitle {
  margin: 0 0 5px;
  font-size: 1em;
  font-weight: 300;
}

.dateRadio {
  margin-right: 3px !important;
}

.dateLabel {
  font-weight: 300;
  margin-right: 10px;
}

.dates {
  margin-bottom: 10px;
}

.toggleExpand {
  position: absolute;
  right: 45px;
  top: 14px;
  font-size: 20px;
  cursor: pointer;
}

.autoComplete {
  margin: -10px 0 0 0;
  padding: 0;
  list-style: none;
  background: #425166;
  border-radius: 3px;
}

.autoCompleteQuery {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  cursor: pointer;
}

.autoCompleteQuery:last-child {
  border-bottom: none;
}

.autoCompleteQuery:hover,
.autoCompleteQueryActive {
  background: rgba(255, 255, 255, .1);
}