.toggleHelp {
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 1px solid rgba(255, 255, 255, .2);
}

.help {
  margin-bottom: 20px;
}