.toggleAdvanced {
  background: #6C9FE0;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}

.toggleAdvancedInfo {
  background: none;
  border: none;
  outline: none;
}

.advancedInfo {
  margin-bottom: 20px;
}