@import "../../../scss/mixins/shadow";

.contextMenu {
    position: absolute;
    background: #50637D;
    padding: 0 0 10px 0;
    @include shadow();
    width: 200px;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.button,
.datasource,
.searchAroundHeading {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    font-weight: 300;
}

.datasourceList {
    padding: 0;
    list-style: none;
}

.datasource {
    padding-left: 40px;
}

.button,
.datasource {
    &:hover {
        background: #689DE5;
    }
}

.inputWrapper {
    width: 200px;
    padding: 3px 5px;

    > input {
        color: black;
        width: 150px;
    }
}

.icon {
    font-size: 20px;
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.buttonText {
    font-size: 1.1em;
}

.title {
    font-size: 1.1em;
    font-weight: 300;
    background-color: rgba(255, 255, 255, .1);
    margin: 0 0 5px;
    padding: 10px;
}