@import "../../../scss/mixins/shadow";

.contextMenu {
    position: absolute;
    background: #50637D;
    padding: 10px 0;
    @include shadow();
}

.button {
    display: flex;
    align-items: center;
    width: 200px;
    background: none;
    border: none;
    color: white;
    padding: 5px;

    &:hover {
        background: #689DE5;
    }

    i {
        font-size: 20px;
        display: inline-block;
        width: 30px;
        text-align: center;
        margin-right: 5px;
    }

    span {
        font-size: 1.2em;
    }
}