.node {
  background: none !important;
  border-bottom: 1px solid #3A4555;
  padding: 5px 10px !important;
}

.header {
  display: flex;
  cursor: pointer;
}

.icon {
  margin-right: 8px;
  font-size: 1em;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 30px;
  height: 30px;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  line-height: 30px;
}

.focus,
.deselect {
  border: 1px solid rgba(255, 255, 255, .2);
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
  background: none;
  margin: 0 3px;
}

.toggle {
  position: static !important;
  line-height: 30px !important;
  margin-right: 10px !important;
}

.main {
  margin-top: 10px;
}

.level2Element,
.level3Element {
  background: none !important;
  padding: 5px !important;

  img {
    margin-right: 8px;
  }
}

.level3 {
  margin-left: 30px;
}

.level2 {
  margin-left: 56px;
}

.level2Header {
  display: flex;
}

.level3Element {
  display: flex;
}