.datasource {
  background: #435266;
  border-radius: 3px;
  margin-bottom: 5px;
}

.header {
  background: #3A4555;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
}

.name {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

.active {
  margin-right: 5px !important;
  display: inline-block;
}

.toggle {
  font-size: 20px;
  line-height: 10px;
  cursor: pointer;
}

.main {
  padding: 10px;
}

.optionTitle {
  font-size: 1em;
}

.icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
  line-height: 40px;
  font-size: 26px;
  text-align: center;
  font-family: "Ionicons", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}