.datasource {
  background: #455164;
  border-radius: 3px;
  margin-bottom: 5px;
}

.header {
  background: #3A4555;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
}

.name {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

.active {
  margin-right: 5px !important;
  display: inline-block;
}

.toggle {
  font-size: 20px;
  line-height: 10px;
  cursor: pointer;
}

.main {
  padding: 10px;
}

.optionTitle {
  font-size: 1em;
}