.datasource {
  background: #3A4555;
  border-radius: 3px;
  margin-bottom: 5px;
}

.header {
  display: flex;
  padding: 6px 10px;
  align-items: center;
  cursor: pointer;
}

.magicWand {
  background: rgba(255, 255, 255, .1);
  margin-right: 10px;
}

.name {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  border-radius: 3px;
  line-height: 28px;
  padding: 0 5px;
}

.toggle {
  font-size: 20px;
  line-height: 10px;
  margin-left: auto;
}

.main {
  padding: 1em 10px 1px;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.optionTitle {
  font-size: 1.3em;
  margin: 0 0 .5em;
}

.icon {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
  margin-right: 10px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  font-family: "Ionicons", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.help {
  margin: .5em 0 1.5em;
}

.customButtons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.delete,
.showAll {
  border-radius: 3px;
  background: #f44336;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.showAll {
  background: #6C9FE0;
}

.chooseFieldsAutomatically {
  font-weight: 300;
  margin-bottom: 20px;
  cursor: pointer;

  input {
    margin-right: 3px !important;
  }
}