@import "../../node_modules/bootstrap-css-only/css/bootstrap.min.css";
@import "../../node_modules/ionicons/dist/css/ionicons.min.css";

*[class^="col-"] {
    box-sizing: border-box;
}

@import "../css/default.css";
@import "variables";

@import 'search';
@import 'nav';
@import 'panes';

body {
    color: $base-font-color;
    overflow: hidden;
    background-color: $body-background-color;

    letter-spacing: 0.6px;
    font-weight: 300;
    font-size: 12px;

    header {
        background-color: $header-background-color;
    }

    .colorBall {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;

        position: relative;
        top: 2px;
        left: 0;

        margin-right: 5px;
    }
}

