pane.nodes .description {
font-style: italic;
} 

.undoMerge {
  background: none;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;

  i {
    position: static !important;
    margin-right: 5px !important;
  }
}