.pane {
    background-color: $pane-background-color;
    margin: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .25);
    @include shadow();

    .pane-header {
        position: relative;
        padding: 10px 0px;
        background-color: $pane-header-background-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-transform:uppercase;
        letter-spacing: 0.4px;
        cursor: move;

        i {
            &.shut {
                float: right;
                font-size: 25px;
                line-height: 25px;
                padding: 0px 10px;
                margin-right: -10px;
                cursor: pointer;
            }
        }

        .description {
            padding-left: 15px;
            font-size: .8em;
            font-weight: 300;
        }

        .paneButton {
            float: right;
            color: #5794D0;
            background: white;
            border: none;
            border-radius: 20px;
            line-height: 20px;
            margin-top: 2px;
            padding: 2px 13px 0;
            font-size: .8em;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    .pane-holder {
        position: absolute;
        top: 46px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 0px;
    }

    .pane-content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    &.table {
        .pane-holder {
            padding: 0;
        }

        .noNodes {
            margin-top: 15px;
        }
    }

    &.configuration{
        .importFile {
            display: none;
        }

        .graph-option {
            font-weight: 300;

            input {
                margin-right: 5px;
            }
        }
    }

    &.nodes {
        .pane-holder {
            padding-top: 0;
        }

        .pane-content {
            .toolbar {
                left: 1px;
                right: 1px;
                position: absolute;

                .btn-group button {
                    border-radius: 0;
                }
            }
        }

        .nodes-btn-group {
            display: flex;
            flex-wrap: wrap;

            .btn {
                flex-grow: 1;
                border-radius: 0;
                padding: 6px 10px;
            }
        }

        .nodesSearchResult {
            max-height: 286px;
            overflow-y: auto;
        }

        .node {
            padding: 2px;
            line-height: 16px;
            display: flex;
        }

        .merged {
            margin-left: 25px;
        }

        .nodeIcon {
            margin-right: 5px;
            font-size: 1em;
            background-color: rgba(255, 255, 255, 0.15);
            width: 19px;
            height: 19px;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            display: inline-block;
            flex-shrink: 0;
            flex-grow: 0;
        }

        .nodesSearchResult .nodeIcon {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .nodeSelectButton {
            margin-right: 5px;
            border-radius: 3px;
            font-weight: normal;
            font-size: 13px;
            padding: 2px 8px;
        }
    }

    .form-group {
        margin-bottom: 30px;

        &.via-row {
            margin-bottom: 0;

            label {
                padding-top: 7px;
            }
        }

        .alert {
            padding: 5px 10px;
        }

        h2 {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 300;
            margin-top: 0;
            position: relative;

            .loader {
                float: right;
                width: 18px;
                height: 18px;
                margin-top: 0;
            }

            .heading-alert {
                padding: 2px 5px;
                border-radius: 2px;
                display: inline-block;
                background: rgb(222, 121, 242);
                text-transform: none;
                margin-left: 5px;
            }
        }

        .datasourceName {
            width: calc(100% - 42px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
        }

        .liveDatasource {
            background: #de79f2;
            display: inline-block;
            padding: 0 2px;
            border-radius: 3px;
            margin-left: 6px;
            text-transform: uppercase;
            font-size: .9em;
            font-weight: 400;
            line-height: 13px;
            height: 13px;
            margin-top: 3px;
        }

        .form-check-inline {
            display: inline-block;
        }

        .form-check-label {
            padding: 0 5px 0 3px;
            margin-bottom: 0;
            font-weight: 300;
        }

        ul {
            padding-left: 0;

            > li {
                position: relative;
                font-weight: 300;
                list-style-type: none;
                padding: 3px 6px;
                letter-spacing: 0.6px;
                font-size: 12px;

                &:nth-child(odd) {
                    background-color: $input-background-color;
                }

                &:nth-child(even) {
                    background-color: rgba(255,255,255,0.05);
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }

                i {
                    position: absolute;
                    top: 1px;
                    right: 5px;
                    font-size: 21px;
                    cursor: pointer;

                    &:first-of-type {
                        margin-right: 20px;
                    }

                    &:last-of-type {
                        margin-right: 0px;
                    }
                }

                .ion-ios-arrow-right {
                    position: static;
                    cursor: default;
                }

                input[type="checkbox"] {
                    position: absolute;
                    top: -2px;
                    right: 1px;
                    zoom: 1.5;
                }
            }

            ol {
                padding-left: 15px;
            }
        }

        .tableLoader {
            display: flex;
            margin: 1em 0;

            .loader {
                margin: 0;
            }

            span {
                margin-left: 10px;
                line-height: 18px;
            }
        }

        table {
            &.tableView {
                width: calc(100% + 28px);
                margin-left: -14px;
            }

            th {
                padding: 10px;

                h1 {
                    font-weight: bold;
                    display: flex;
                    letter-spacing: 0.6px;
                    font-size: 12px;
                    margin: 0;
                }

                i {
                    cursor: pointer;
                    font-size: 21px;
                    margin-top: -3px;
                    margin-left: 5px;

                    &.unsorted {
                        opacity: .3;
                    }
                }
            }

            tr.record {
                > td {
                    padding: 10px;
                }

                .itemIcons {
                    display: flex;
                }

                &.noColumns .itemIcons {
                    justify-content: center;
                }
            }

            tr.record,
            tr.recordDetail {
                position: relative;
                font-weight: 300;
                list-style-type: none;
                letter-spacing: 0.6px;
                font-size: 12px;

                &.odd {
                    background-color: rgba(0,0,0,0.08);
                }

                i {
                    font-size: 16px;
                    cursor: pointer;
                    margin: 1px 3px 0 0;
                }

                img {
                    max-width: 150px;
                    max-height: 150px;
                }

                &.isHighlighting tr {
                    opacity: .3;
                }

                &.isHighlighting tr.highlight {
                    opacity: 1;
                }
            }

            tr.recordDetail > td {
                padding: 0 10px 10px 10px;
            }

            .details {
                border-top: 1px solid rgba(255,255,255,.3);
                padding: 20px 0 10px;

                td:first-child {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 10px;

                    .fieldButtons {
                        display: flex;
                        padding: 0 10px;

                        i.disabled {
                            opacity: .5;
                            cursor: default;
                        }
                    }
                }
            }

            .fieldValue {
                overflow: hidden;
                max-height: 200px;
                word-break: break-all;

                ul {
                    background: none;

                    ul {
                        margin-left: 10px;
                        margin-bottom: 10px;
                    }
                }

                li {
                    background: none;
                    padding: 0;
                }

                a {
                    color: #689DE5;
                    text-decoration: underline;

                    &:hover {
                        color: #689DE5;
                    }
                }
            }
        }

        i.add {
            font-size: 28px;
            margin-top: 8px;
            margin-left: -9px;
        }
    }
}

.queries {
    background: transparent;
    padding: 4px 0 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
            border-radius: 4px;
            padding: 8px 11px;
            margin: 0 0 0 10px;
            display: flex;
            align-items: center;
            overflow: hidden;
            position: relative;

            i {
                font-size: 18px;
                padding-left: 5px;
                cursor: pointer;
                position: relative;
                z-index: 1;

                &.disabled {
                    opacity: .5;
                }
            }

            .count {
                display: inline-block;
                width: 60px;
            }

            &.loading:before {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 30px;
                background: white;
                left: 0;
                top: 0;
                animation: move 2s linear infinite;
                z-index: 0;
            }
        }
    }
}

.searchResultsFooter {
    p {
        display: inline-block;
        margin-right: 10px;
    }

    button {
        background: none;
        margin-right: 10px;
        text-decoration: underline;
        border: none;
        padding: 0;
    }
}

.searchInput {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@keyframes move {
    0% {
        transform: translateX(0) skew(-45deg);
        opacity: 0;
    }
    50% {
        transform: translateX(100px) skew(-45deg);
        opacity: .2;
    }
    100% {
        transform: translateX(200px) skew(-45deg);
        opacity: 0;
    }
}
