input[placeholder] {
    opacity: 1;
}

.loader {
	margin-top: 20px;

    &.graphLoader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -40px;
        margin-top: -40px;
        width: 80px;
        height: 80px;
        border-width: 5px;
    }
}

.sk-search-box__loader {
    position: absolute;
    top: 0px;
    right: 15px;
}

.sk-spinning-loader {
    border-top: 2px solid $spinner-color-faded;
    border-right: 2px solid $spinner-color-faded;
    border-bottom: 2px solid $spinner-color-faded;
    border-left: 2px solid $spinner-color;
}

i.status {
    font-size: 30px;
    margin-top: 7px;
}

i.settings {
    font-size: 30px;
    margin-top: 7px;
    margin-left: 20px;
    float: left;
    cursor:pointer;

    color: $input-color-focus;
}


.searchAroundContainer {
    position: relative;
    border-radius: 4px;
    padding: 8px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    z-index: 9999999;
    background: #455B71;

    &.opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .loaderContainer {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 4px;

        &.loading:before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 30px;
            background: rgba(255,255,255,.3);
            left: 0;
            top: 0;
            animation: move 2s linear infinite;
            z-index: 0;
        }
    }

    h1 {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        position: relative;
        z-index: 1;

        i {
            margin-left: 5px;
            margin-top: 2px;
        }

        .num {
            font-weight: 500;
            display: inline-block;
            font-size: .7em;
            width: 19px;
            height: 19px;
            background: rgba(255,255,255,.15);
            border-radius: 50%;
            text-align: center;
            line-height: 19px;
            margin-left: 5px;
            margin-top: -2px;
            letter-spacing: 0;
        }

        .loading {
            margin: -2px 0 0 5px;
            width: 15px;
            height: 15px;
            display: inline-block;
        }
    }

    .queries {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 5px;
        border-radius: 4px;
        border-top-left-radius: 0;
        max-height: 300px;
        overflow-y: auto;
        background: #455B71;

        .query {
            margin: 0 0 2px;
        }
    }
}

.query {
    border-radius: 4px;
    padding: 2px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    line-height: 12px;

    .queryInner {
        border-radius: 4px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .queryAnimation {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(closest-side, rgba(255,255,255,0.7), transparent);
        background-size: 40px 40px;
        background-position: center center;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        animation: 2s infinite queryAnimation;
        transform: translateX(-50%) translateY(-50%);
    }

    i {
        font-size: 18px;
        padding-left: 5px;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &.disabled {
            opacity: .5;
        }

        &.ion-cube {
            cursor: default;
        }
    }

    .count {
        display: inline-block;
        width: 60px;
    }

    .actions {
        display: flex;
        align-items: center;
    }

    &.loading:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 30px;
        background: white;
        left: 0;
        top: 0;
        animation: move 2s linear infinite;
        z-index: 0;
    }

    nav#searchbox {
        ::-webkit-input-placeholder {
            color: #fff !important
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #fff !important;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            color: #fff !important;
        }

        :-ms-input-placeholder {
            color: #fff !important;
        }
    }
}

@keyframes queryAnimation {
    0%   {transform: translateX(-50%) translateY(-50%);}
    40%  {transform: translateX(50%) translateY(-50%);}
    50%  {transform: translateX(50%) translateY(50%);}
    90%  {transform: translateX(-50%) translateY(50%);}
}