.matrix {
  width: 100%;
  height: 100%;
}

.grid {
  stroke: rgba(255,255,255, .05);
  stroke-width: 1px;
  fill: #689DE5;
}

.highlight {
  stroke: #fac04b;
}

.node {
  fill: white;
}

.total {
  font-size: 10px;
}